{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>
<h1 class="h3 mb-3 p-5 font-weight-normal">Contactez-nous</h1>
{% for message in app.flashes('success') %}
<div class="alert alert-success" role="alert"> {{message}} </div>
{% endfor %}

<div class="example-wrapper background-color-blue">
    {{form_start(form)}}
    {{form_row(form.name, {'label' : 'Votre nom'}) }}
    {{form_row(form.email, {'label' : 'Votre E-mail'}) }}
    {{form_row(form.message, {'label' : 'Votre message'}) }}
    <input class="btn btn-primary" type="submit" value="Envoyer">
    {{form_end(form)}}

</div>
{% endblock %}